{% extends 'base.html.twig' %}

{% block title %}Edit {{ cardsList.name }} list{% endblock %}

{% block container %}

<h1>Edit {{ cardsList.name }} list</h1>
<hr/>
<p>
    <a href="{{ path('list_view', {id: cardsList.id}) }}" class="btn btn-primary btn-sm"><i class="bi bi-arrow-left-circle"></i> Back</a>
</p>
<div id="list" data-id="{{ cardsList.id }}" data-token="{{ token }}"></div>

{% endblock %}