{% extends 'base.html.twig' %}

{% block title %}Learn {{ cardsList.name }}{% endblock %}

{% block body %}

<div class="container">
    <h1>Learn {{ cardsList.name }} list</h1>
    <hr/>
    <p>
        <a href="{{ path('list_view', {id: cardsList.id}) }}" class="btn btn-primary btn-sm"><i class="bi bi-arrow-left-circle"></i> Back</a>
    </p>
    <div id="learn-list" data-id="{{ cardsList.id }}" data-token="{{ token }}"></div>
</div>

{% endblock %}