{% extends 'base.html.twig' %}

{% block title %}{{ cardsList.name }}{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ cardsList.name }}</h1>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3 text-center">
                <div class="card-body">
                    <p class="card-text">
                        <a href="{{ path('list_learn', {id: cardsList.id}) }}" class="btn btn-primary stretched-link"><i class="bi bi-book"></i> {{ 'dashboard.list.learn'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 text-center">
                <div class="card-body">
                    <p class="card-text">
                        <a href="{{ path('list_edit', {id: cardsList.id}) }}" class="btn btn-primary stretched-link"><i class="bi bi-pencil-square"></i> {{ 'dashboard.list.edit'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 text-center">
                <div class="card-body">
                    <p class="card-text">
                        <a type="button" class="link-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-pencil-square"></i> {{ 'dashboard.list.delete.title'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th scope="col">Front</th>
                <th scope="col">Back</th>
            </tr>
        </thead>
        <h2>Cards:</h2>
        <tbody>
            {% for card in cardsList.cards %}
                <tr>
                    <td>{{ card.frontValue }}</td>
                    <td>{{ card.backValue }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        {{ form_start(removeForm) }}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'dashboard.list.delete.title'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ 'dashboard.list.delete.warning'|trans({'name': cardsList.name|escape})|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'actions.close'|trans }}</button>
                <button type="submit" class="btn btn-danger">{{ 'dashboard.list.delete.title'|trans }}</button>
            </div>
        {{ form_end(removeForm) }}
      </div>
    </div>
  </div>
{% endblock %}
