{% extends 'dashboard/settings/base.html.twig' %}

{% block title %}{{ 'dashboard.settings.profile'|trans }}{% endblock %}

{% block settings_content %}
<h1>{{ 'dashboard.settings.profile'|trans }}</h1>
<hr/>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">
    <i class="bi bi-check2-circle"></i> {{ 'form.default.save'|trans }}
</button>
{{ form_end(form) }}
{% endblock %}
