{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.forgot_password'|trans }}{% endblock %}

{% block container %}
<h1>{{ 'auth.forgot_password'|trans }}</h1>
<hr/>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">{{ 'form.default.submit'|trans }}</button>
{{ form_end(form) }}

{% endblock %}
