{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.login'|trans }}{% endblock %}

{% block container %}
<h1>{{ 'auth.login'|trans }}</h1>
<hr/>

<a href="{{ google_url }}" class="btn btn-lg btn-danger w-100">
    <i class="bi bi-google"></i> {{ 'auth.login_with'|trans({'%service%': 'Google'})}} 
</a>
<hr/>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">{{ 'auth.login'|trans }}</button>
<br/>
{{ form_end(form) }}
<a href="{{ path('register') }}">{{ 'auth.not_account'|trans }}</a>
<br />
<a href="{{ path('login_forgot_password') }}">{{ 'auth.forgot_password'|trans }}</a>
{% endblock %}
