{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block container %}
<h1>Log in</h1>
<hr/>

<a href="{{ google_url }}" class="btn btn-lg btn-danger w-100">
    <i class="bi bi-google"></i> Login with Google
</a>
<hr/>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Log in</button>
<br/>
<a href="{{ path('register') }}">You doesn't have an account?</a>
<br />
<a href="{{ path('login_forgot_password') }}">Forgot password</a>
{{ form_end(form) }}
{% endblock %}
