{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block container %}
<h1>Log in</h1>
<hr/>

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Email address</label>
        <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}">
        <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="_password">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <input type="hidden" name="_target_path" value="{{ path('dashboard_home') }}"/>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br/>
    <a href="{{ path('register') }}">You doesn't have an account?</a>
</form>
{% endblock %}
