<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('favicon.svg') }}" alt="" width="30" height="30" class="d-inline-block align-text-top">
            MemOlicard
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}"><i class="bi bi-house-door-fill"></i> {{ 'navbar.home'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('page', {slug: 'policy'}) }}"><i class="bi bi-lock-fill"></i> {{ 'navbar.policy'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('blog') }}"><i class="bi bi-newspaper"></i> {{ 'navbar.blog'|trans }}</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" href="{{ path('search') }}"><i class="bi bi-search"></i></a>
                </li> -->
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-turbo="false" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i> {{ 'navbar.profile'|trans }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('settings_profile') }}"><i class="bi bi-gear-fill"></i> {{ 'navbar.settings'|trans }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" data-turbo="false" href="{{ path('logout') }}"><i class="bi bi-box-arrow-right"></i> {{ 'navbar.log_out'|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav_item">
                        <a href="{{ path('login') }}" class="btn btn-outline-dark">{{ 'auth.login'|trans }}</a> <a href="{{ path('register') }}" class="btn btn-dark">{{ 'auth.signin'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>