{% extends 'dashboard/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <hr/>
    <h2>Your lists</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-plus-square"></i> Add a list
    </button>
    <hr />
    <div class="row">
        {% for cardsList in cardsLists %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ cardsList.name }}</h5>
                        <p class="card-text">
                            <span class="text-black-50 text-muted">Last update : {{ cardsList.updatedAt|date('Y/m/d H:i') }}</span>
                        </p>
                        <a href="{{ path('list_view', {id: cardsList.id}) }}" class="stretched-link">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a list</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
