{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block container %}
<h1>Sign in</h1>
<hr/>
<a href="{{ google_url }}" class="btn btn-lg btn-danger w-100">
    <i class="bi bi-google"></i> Signin with Google
</a>
<hr/>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">
    <i class="bi bi-check2-circle"></i> Sign in
</button>
{{ form_end(form) }}
<a href="{{ path('login') }}">You have already an account?</a>
{% endblock %}
